/* components/SidebarRight.css */

.sidebar-right {
    position: fixed;
    top: 0;
    right: -250px;
    /* Sidebar akan disembunyikan saat tidak terbuka */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: right 0.3s ease-in-out;
}

.sidebar-right.open {
    right: 0;
    /* Sidebar akan muncul saat terbuka */
}

.toggle-button {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sidebar-content {
    padding: 20px;
    color: white;
}